<title>Submit article</title>
<div class="container">
    <div class="page-header">
        <h1 class="page-title">Submission</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['articles']">Articles</a></li>
            <li class="breadcrumb-item active">Submission</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <mat-card>
            <mat-card-title>
                Submission Form
            </mat-card-title>
            <mat-card-content>
                <form class="form-container"
                      novalidate
                      [formGroup]="submitForm"
                      (ngSubmit)="saveArticle()">
                      <mat-form-field>
                        <input matInput
                               placeholder="Username"
                               formControlName="userName">
                        <mat-error *ngIf="displayMessage.articleTitle">
                          {{displayMessage.articleTitle}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                      <input matInput
                             placeholder="Phone number"
                             formControlName="tel">
                      <mat-error *ngIf="displayMessage.articleTitle">
                        {{displayMessage.articleTitle}}
                      </mat-error>
                    </mat-form-field>
                      <mat-form-field>
                        <input matInput
                               placeholder="Email"
                               formControlName="Email">
                        <mat-error *ngIf="displayMessage.articleTitle">
                          {{displayMessage.articleTitle}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput
                               placeholder="Restaurant name"
                               formControlName="resName">
                        <mat-error *ngIf="displayMessage.articleTitle">
                          {{displayMessage.articleTitle}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput
                               placeholder="Restaurant address"
                               formControlName="resAddress">
                        <mat-error *ngIf="displayMessage.articleTitle">
                          {{displayMessage.articleTitle}}
                        </mat-error>
                      </mat-form-field>
                  <mat-form-field>
                        <mat-select placeholder="City"
                                    formControlName="city">
                            <mat-option *ngFor="let topic of topics | async" [value]="topic.id">
                                {{topic.topicName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="displayMessage.articleContent">
                            {{displayMessage.articleContent}}
                        </mat-error>
                    </mat-form-field>
                    <button
                        mat-raised-button color="primary"
                        type="submit"
                        [matTooltip]="submitForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        Upload Article
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>



