<div class="page-content">
  <div class="page-container">
    <div class="list-info">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Shiro Neko</mat-card-title>
          <mat-card-subtitle>Restaurant</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><a [routerLink]="['modify']">Update restaurant info</a></li>
            <li><a [routerLink]="['article']">Update restaurant article</a></li>
            <li><a [routerLink]="['sale']">Manage sale</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="info-detail">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
