.page-content {
    .page-container {
      margin-top: 90px;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 1fr;
      grid-gap: 35px;
      .list-info {
        ul {
          list-style: none;
        }
      }
      .info-detail {
        .detail-header {
          font-size: 18px;
          color: #000;
          font-weight: 700;
          padding: 16px 15px;
          border-bottom: 1px solid #ebebeb;
          position: relative;
          background: #f5f5f5
        }
        .form-container {
          display: flex;
          flex-direction: column;
        }

        .form-container > * {
          width: 100%;
        }
      }
    }
}
