<h1 mat-dialog-title>Create new promotion</h1>
<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
<div mat-dialog-content>
  <form novalidate
        [formGroup]="proForm">
    <mat-form-field class="full">
      <input matInput
             placeholder="Promotion Name"
             formControlName="promotionName">
      <mat-error *ngIf="displayMessage.promotionName">
        {{displayMessage.promotionName}}
      </mat-error>
    </mat-form-field>
      <input placeholder="Restaurant" formControlName="restaurant" hidden>
    <mat-form-field class="full">
      <input matInput
             placeholder="Promotion Percent"
             formControlName="promotionPercent"
             type="number">
      <mat-error *ngIf="displayMessage.promotionPercent">
        {{displayMessage.promotionPercent}}
      </mat-error>
    </mat-form-field>
    <input class="custom" placeholder="Promotion from" style="margin-right: 10%" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="promotionFrom">
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    <input class="custom" placeholder="Promotion to" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="promotionTo">
    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button color="primary"
    type="submit"
    (click)="savePromotion()"
    [matTooltip]="proForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
    aria-label="Button that displays a tooltip when focused or hovered over">
    Upload Article
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>

