<mat-card>
  <mat-card-header>
    <h5>Restaurant's information</h5>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button mat-raised-button>UPDATE</button>
  </mat-card-actions>
  <!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <form class="form-container"
          novalidate
          [formGroup]="restaurantForm"
          (ngSubmit)="save()">
      <mat-form-field>
        <input matInput
               placeholder="Restaurant's name"
               formControlName="resName">
        <mat-error *ngIf="displayMessage.resName">
          {{displayMessage.resName}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Restaurant's Address"
               formControlName="resAddress">
        <mat-error *ngIf="displayMessage.resAddress">
          {{displayMessage.resAddress}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Username"
               formControlName="username">
        <mat-error *ngIf="displayMessage.username">
          {{displayMessage.username}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Tel"
               formControlName="tel">
        <mat-error *ngIf="displayMessage.tel">
          {{displayMessage.tel}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="email"
               formControlName="email">
        <mat-error *ngIf="displayMessage.email">
          {{displayMessage.email}}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button color="primary"
        type="submit"
        [matTooltip]="restaurantForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Upload Restaurant
      </button>
    </form>
  </mat-card-content>
</mat-card>
