.res-container {
  display: grid;
  padding: 20px;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr;
  height: 455px;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #d7d7d7;

  .res-images {
    cursor: pointer;

    .slider-for {
      img {
        margin: 0 auto 15px auto;
      }

      .slider-nav {
        margin-top: 15px;

        .slide {
          width: 95px;
        }
      }
    }
  }

  .res-info {
    flex: 0 0 625px;
    max-width: 625px;
    padding-left: 17px;
    font-size: 14px;
    color: #525252;

    .res-breadcrumb {
      padding: 4px 0 18px;
      font-size: 13px;
      margin-bottom: 0;
    }

    .res-name {
      font-size: 24px;
      font-weight: 700;
    }

    .res-address {
      padding-bottom: 15px;
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: 15px;
    }

    .btn {
      color: #fff;
      background-color: #0288d1;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid #0288d1;
      border-radius: 6px;
      padding: 0.23rem 0.6rem;
      font-size: 0.875rem;
      line-height: 1.5;
      transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }
    }

    .btn-book {
      text-align: center;
      text-transform: uppercase;
      height: 40px;
      min-width: 250px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #025897;
      padding-top: 5px;
    }

    .text-bold {
      padding-left: 0.5rem !important;
      font-size: 1.125rem !important;
    }

    .res-time {
      margin-bottom: 3px;

      .icon-time-gray {
        transform: scale(0.5);
        transform-origin: left;
        margin-right: -8px;
        vertical-align: middle;
        background-position: -707px -10px;
        width: 32px;
        height: 32px;
      }

      .icon {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
      }
    }

    .res-price {
      margin-bottom: 15px;

      .fas {
        color: #959595;
        width: 18px;
        text-align: center;
        margin-right: 7px;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
      }
    }

    .res-rating {
      font-size: 18px;
      vertical-align: middle;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
      border-top: 1px solid #d7d7d7;
      padding-top: 7px;
      margin-top: 10px;
    }
  }
}

.res-promotion {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 20px 20px 15px;
  margin-bottom: 34px;

  .pro-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;

    .pro-title {
      font-size: 24px;
      color: #f37934;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .pro-body {
    .row-pro-booking {
      border: 1px solid #d7d7d7;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: stretch;
      align-items: stretch;
      border-radius: 4px;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 14px 0;
      min-height: 60px;

      .pro-booking {
        font-size: 22px;
        text-align: center;
        color: #fff;
        height: auto;
        width: 180px;
        background-color: #277bb9;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: none;
        border-radius: 2px 0 0 2px;
        position: relative;

        .pro-booking-title {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          height: 100%;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }

      .pro-detail-booking {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding: 11px 20px 8px 45px;
        min-height: 128px;

        .pro-detail-header {
          font-weight: 700 !important;
          font-size: 1rem !important;
        }

        .pro-detail-body {
          font-weight: 600 !important;
        }
      }

      .pro-note {
        text-align: left;
        color: #9fa9aa;
        font-size: 14px;
        font-weight: 600;
        padding-top: 19px;
      }
    }
  }
}

.res-detail,
.res-recently-viewed {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 10px 20px;
  margin-bottom: 25px;

  .res-detail-header {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: #fff;
    z-index: 3;

    .nav-header {
      .nav-list {
        margin-bottom: 25px;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d7d7d7;

        .nav-item {
          color: #000;
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
          padding: 10px 20px 14px;
          position: relative;

          &:first-child {
            padding-left: 0;
          }

          &:hover {
            color: #f37934;
          }
        }
      }
    }
  }

  .res-detail-block {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 19px;
    margin-bottom: 28px;

    .block-title {
      text-transform: uppercase;
      font-size: 24px;
      color: #000;
      margin-bottom: 10px;
    }

    .block-content {
      font-size: 14px;
      overflow: hidden;
    }
  }
}

.res-recently-viewed {
  padding: 20px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  margin-bottom: 25px;

  .res-card {
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}

.chat-button {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  .my-chat-box {
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  a {
    cursor: pointer;
  }
  img {
    width: 5%;
    float: right;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

