.page {
    display: grid;
    margin-top: 0;
    .content {
        margin: 0 auto;
        display: grid;
        padding: 0;
        align-self: center;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*
        ##Device = Desktops
        ##Screen = 1281px to higher resolution desktops
      */

        @media (min-width: 1281px) {
            max-width: 1062.792px;
            grid-template-columns: 605.913px 459.879px;
            grid-template-rows: 575.95px;
        }

        /*
          ##Device = Laptops, Desktops
          ##Screen = B/w 1025px to 1280px
        */

        @media (min-width: 1025px) and (max-width: 1280px) {
            max-width: 852.8px;
            grid-template-columns: 484.825px 367.975px;
            grid-template-rows: 460.85px;

        }

        /*
          ##Device = Tablets, Ipads (portrait)
          ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) {
            max-width: 400px;
            grid-template-columns: 459.879px;
            grid-template-rows: 460.85px;
            .left-content {
                display: none;
            }
        }

        /*
          ##Device = Tablets, Ipads (landscape)
          ##Screen = B/w 768px to 1024px
        */

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            max-width: 400px;
            grid-template-columns: 400px;
            grid-template-rows: 460.85px;
            .left-content {
                display: none;
            }
        }

        /*
          ##Device = Low Resolution Tablets, Mobiles (Landscape)
          ##Screen = B/w 481px to 767px
        */

        @media (min-width: 481px) and (max-width: 767px) {

            max-width: 400px;
            grid-template-columns: 400px;
            grid-template-rows: 460.85px;
            .left-content {
                display: none;
            }

        }

        /*
          ##Device = Most of the Smartphones Mobiles (Portrait)
          ##Screen = B/w 320px to 479px
        */

        @media (min-width: 320px) and (max-width: 480px) {

            max-width: 100%;
            grid-template-columns: 100%;
            grid-template-rows: 460.85px;
            .left-content {
                display: none;
            }

        }

        .left-content {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;

            }
        }

        .right-content {

            margin: 0 auto;
            text-align: center;
            @media (max-width: 479.98px) {
                padding: 20px;
            }

            a {
                text-decoration: none;
            }

            button {
                border-radius: 0;
            }

            mat-form-field {
                padding-bottom: 1rem;
            }

            .form-header {
                width: 89px;
                height: 27px;
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: left;
                color: #21201e;
            }

            .login-button {
                background-color: #272727;
                color: #ffffff;
            }

            .register-button {
                width: 227px;
                height: 20px;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #707070;
            }


            .register {
                font-weight: 600;
                color: #272727;
            }

            .password-hint {
                font-size: 12px;
            }

            @media (min-width: 1281px) {
                padding: 32px 58.9px;

                .login-button {
                    margin: 44.74px 0 52px 0;
                }

                .register-button {
                }

            }

            /*
              ##Device = Laptops, Desktops
              ##Screen = B/w 1025px to 1280px
            */

            @media (min-width: 1025px) and (max-width: 1280px) {
                padding: 16px 47.1px;
                mat-form-field {
                    padding-bottom: 0.5rem;
                }
                .login-button {
                    margin: 35px 0 10px 0;
                }

                .register-button {
                }
            }
            /*
          ##Device = Tablets, Ipads (portrait)
          ##Screen = B/w 768px to 1024px
        */

            @media (min-width: 768px) and (max-width: 1024px) {
                padding: 16px 51.2px;

                mat-form-field {
                    padding-bottom: 0.5rem;
                }
                .login-button {
                    margin: 35px 0 10px 0;
                }

                .register-button {
                }
            }

            /*
              ##Device = Tablets, Ipads (landscape)
              ##Screen = B/w 768px to 1024px
            */

            @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                padding: 16px 51.2px;
                mat-form-field {
                    padding-bottom: 0.5rem;
                }
                .login-button {
                    margin: 35px 0 10px 0;
                }

                .register-button {
                }
            }

            /*
              ##Device = Low Resolution Tablets, Mobiles (Landscape)
              ##Screen = B/w 481px to 767px
            */

            @media (min-width: 481px) and (max-width: 767px) {
                padding: 16px 51.2px;
                mat-form-field {
                    padding-bottom: 0.5rem;
                }
                .login-button {
                    margin: 35px 0 10px 0;
                }

                .register-button {
                }

            }

            /*
              ##Device = Most of the Smartphones Mobiles (Portrait)
              ##Screen = B/w 320px to 479px
            */

            @media (min-width: 320px) and (max-width: 480px) {
                padding: 16px 8.4%;


                mat-form-field {
                    padding-bottom: 0.5rem;
                }
                .login-button {
                    margin: 35px 0 10px 0;
                }

                .register-button {
                }
            }
        }

        .right-content > * {
            width: 100%;
        }
    }
}




