<title>Register</title>
<div class="page">
    <mat-card class="content">
        <div class="left-content">
            <img src="assets/images/login-image.jpg" alt="">
        </div>
        <form class="right-content"
              novalidate
              [formGroup]="loginForm"
              (ngSubmit)="login()">
            <span class="form-header">ĐĂNG KÝ</span>
            <mat-form-field>
                <input matInput
                       placeholder="Tài Khoản Email"
                       formControlName="email">
                <mat-error *ngIf="displayMessage.email">
                    {{displayMessage.email}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Tên người dùng"
                       formControlName="username">
                <mat-error *ngIf="displayMessage.username">
                    {{displayMessage.username}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Mật Khẩu"
                       formControlName="password">
                <mat-hint class="password-hint">Mật khẩu phải chứa từ 6 - 12 ký tự</mat-hint>
                <mat-error *ngIf="displayMessage.password">
                    {{displayMessage.password}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Nhập Lại Mật Khẩu"
                       formControlName="confirmPassword">
                <mat-error *ngIf="loginForm.errors?.match">
                    Passwords must match
                </mat-error>
            </mat-form-field>


            <button mat-flat-button
                    class="login-button"
                    [title]="loginForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!loginForm.valid">
                Đăng ký
            </button>
            <span class="register-button">Đã có tài khoản? <a [routerLink]="['/login']" class="register">Đăng nhập</a></span>
        </form>
    </mat-card>
</div>


