
.full  {
  width: 100%;
}

.custom {
  width: 45%;
}

.mat-dialog-content {
  max-height: 80vh;
  height: 625px !important;
}

.dialog-content {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 800px;

  .order-content {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #d7d7d7;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

    .breadcrumb {
      font-size: 12px;
      padding: 0;
      margin: 0;

      a {
        color: #0288d1;
        text-decoration: none;
        background-color: transparent;
      }
    }

    .order-name {
      color: #0288d1 !important;
      font-size: 20px;
      font-weight: 700 !important;
      text-transform: capitalize;
      margin: 10px 0 5px;
    }

    .order-address {
      color: #6d6f71;
      font-size: 13px;
      margin-bottom: 20px;
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 20px;
    }

    .order-title {
      font-size: 18px;
      color: #0288d1;
      font-weight: 700;
      margin-bottom: 20px;
    }

  }

  .booking-container {
    position: relative;

    .order-form-booking {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #d7d7d7;
      z-index: 1;

      .booking-name {

        font-size: 18px;
        font-weight: 700;
        margin-bottom: 11px;
        margin-top: -3px;
      }

    }
  }

}




