<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<div mat-dialog-content>
  <!--  <p>What's your favorite animal?</p>-->
  <div class="dialog-content">
    <div class="order-content">
      <ol class="breadcrumb">
        <a class="breadcrumb-item" href="/">
          Home&ensp;&gt;&gt;&ensp;</a>
        <a class="breadcrumb-item" href="/ho-chi-minh">TP. HCM&ensp;&gt;&gt;&ensp;</a>
        <div class="breadcrumb-item" style="display: inline-block;">Quán ăn</div>
      </ol>
      <div class="order-name">
        Lobster Roll
      </div>
      <div class="order-address">
        59 Trương Công Định, P. 14, Quận Tân Bình
      </div>
      <div class="order-title">
        Giảm 30% tổng hóa đơn khi đặt chỗ qua TableNow
      </div>
      <div class="order-detail">
        - Áp dụng từ ngày 26/10 ~ 03/11/2019.
        <br>
        - Không áp dụng chung với voucher và các chương trình ưu đãi khác.
        <br>
        + Từ 10 người lớn trở lên, đặt món trước cần đặt cọc trước với Nhà hàng
        <br>
        - Giá trên menu đã bao gồm 10% VAT.
        <br>
        + Không có phòng riêng.
        <br>
        + Không có bãi đậu xe ôtô.
        <br>
        + Có áp dụng thanh toán bằng thẻ.
        <br>
        + Phụ thu từ 10k ~ 100k khi mang thức ăn, đồ uống từ ngoài vào.
        <br>
        - Chương trình không áp dụng cho các ngày lễ, Tết: 1/1, 14/2, 8/3, 10/3 Âm lịch, 30/4, 1/5, 2/9, 20/10, 24/12
        <br>
        + Các ngày: 1/1, 30/4, 1/5, 2/9 và (10/3 Âm lịch), Nhà hàng phụ thu phí phục vụ 10%/ Tổng hóa đơn
        <br>
        Quý khách vui lòng đặt chỗ ít nhất 1 giờ trước khi đến để được phục vụ tốt nhất.
        <br>
        - Nhà hàng chỉ giữ bàn 15 phút tính từ thời gian khách đặt chỗ.
      </div>
      <div class="order-img"></div>
    </div>
    <div class="booking-container">
      <form class="order-form-booking" [formGroup]="orderForm">
        <div class="booking-name">
          Lobster Roll
        </div>
        <h3>{{orderForm.value | json}}
      </h3>
        <div class="alert alert-danger"
             *ngIf="errorMessage">{{errorMessage}}
        </div>
        <input type="text" formControlName="user" hidden>
        <input type="text" formControlName="restaurant" hidden>
        <mat-form-field class="full">
          <mat-label>Favorite food</mat-label>
          <mat-select class="example-container" formControlName="promotion">
            <mat-option *ngFor="let pro of promotions | async" [value]="pro._id">
              {{pro.promotionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input class="custom" placeholder="Booking date" formControlName="orderDate" style="margin-right: 10%"
               [owlDateTimeTrigger]="dt1"
               [owlDateTime]="dt1">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        <input class="custom" placeholder="Booking time" formControlName="orderTime" [owlDateTimeTrigger]="dt2"
               [owlDateTime]="dt2">
        <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
        <mat-form-field class="custom" style="margin-right: 10%">
          <mat-label>Adult</mat-label>
          <mat-select formControlName="adult" name="adult">
            <mat-option *ngFor="let a of adults" [value]="a.value">
              {{a.num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="custom">
          <mat-label>Children</mat-label>
          <mat-select formControlName="children" name="children">
            <mat-option *ngFor="let c of children" [value]="c.value">
              {{c.num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="title-form" style="margin: 18px 0 11px;">
          <h6 style="font-weight: bold">Information & Contact</h6>
        </div>
        <mat-form-field class="custom" style="margin-right: 10%">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="custom">
          <input matInput placeholder="Tel" formControlName="tel">
        </mat-form-field>
        <mat-form-field class="full">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-checkbox>confirm by email</mat-checkbox>
        <mat-form-field class="full">
          <textarea matInput placeholder="Note" formControlName="note"></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="sendOrder()" cdkFocusInitial>Booking table</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
