<!--<div class="page">-->
<!--    <div class="page-header">-->
<!--        <h1 class="page-title">Schedule</h1>-->
<!--        <ol class="breadcrumb">-->
<!--            <li class="breadcrumb-item"><a routerLink="['/']">Homepage</a></li>-->
<!--            <li class="breadcrumb-item active">Schedule</li>-->
<!--        </ol>-->
<!--    </div>-->
<!--    <div class="page-content">-->
<!--        <full-calendar-->
<!--            *ngIf="options"-->
<!--            #fullcalendar-->
<!--            [editable]="true"-->
<!--            [minTime]=start-->
<!--            [maxTime]=end-->
<!--            [slotDuration]=slot-->
<!--            [allDaySlot]="false"-->
<!--            [events]="calendarEvents"-->
<!--            [header]="options.header"-->
<!--            (dateClick)="dateClick($event)"-->
<!--            (eventDragStop)="eventDragStop($event)"-->
<!--            [plugins]="options.plugins"-->
<!--            [weekends]="false"-->
<!--            (eventClick)="eventClick($event)"></full-calendar>-->
<!--    </div>-->
<!--</div>-->
