<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<button mat-icon-button color="primary" (click)="openDialog(null)">
  <mat-icon class="mat-18">create</mat-icon>
  Create new promotion
</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="promotionName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.promotionName}} </td>
    </ng-container>

    <ng-container matColumnDef="promotionPercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Percent </th>
      <td mat-cell *matCellDef="let row"> {{row.promotionPercent}}% </td>
    </ng-container>

    <ng-container matColumnDef="promotionFrom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
      <td mat-cell *matCellDef="let row"> {{row.promotionFrom}} </td>
    </ng-container>

    <ng-container matColumnDef="promotionTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End date </th>
      <td mat-cell *matCellDef="let row"> {{row.promotionTo}} </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> Detail</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [routerLink]="[row.id, 'edit']">
          <mat-icon class="mat-18">details</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="openDialog(row)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button color="warn">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
