<div class="container">
  <!-- Top box -->
  <!-- Logo & Site Name -->
  <div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/simple-house-01.jpg">
      <div class="tm-header">
        <div class="row tm-header-inner">
          <div class="col-md-6 col-12">
            <img src="assets/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
            <div class="tm-site-text-box">
              <h1 class="tm-site-title">Simple House</h1>
              <h6 class="tm-site-description">new restaurant template</h6>
            </div>
          </div>
          <nav class="col-md-6 col-12 tm-nav">
            <ul class="tm-nav-ul">
              <li class="tm-nav-li"><a href="index.html" class="tm-nav-link">Home</a></li>
              <li class="tm-nav-li"><a href="about.html" class="tm-nav-link active">About</a></li>
              <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <main>
    <header class="row tm-welcome-section">
      <h2 class="col-12 text-center tm-section-title">About Simple House</h2>
      <p class="col-12 text-center">This is about page of simple house template.
        You can modify and use this HTML template for your website. Total 3 HTML pages included in this template. Header image has a parallax effect.</p>
    </header>

    <div class="tm-container-inner tm-persons">
      <div class="row">
        <article class="col-lg-6">
          <figure class="tm-person">
            <img src="assets/img/about-01.jpg" alt="Image" class="img-fluid tm-person-img" />
            <figcaption class="tm-person-description">
              <h4 class="tm-person-name">Jennifer Soft</h4>
              <p class="tm-person-title">Founder and CEO</p>
              <p class="tm-person-about">Vivamus cursus leo nec sem feugiat sagittis.
                Duis ut feugiat odio, sit amet accumsan
                odio.</p>
              <div>
                <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
              </div>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-6">
          <figure class="tm-person">
            <img src="assets/img/about-02.jpg" alt="Image" class="img-fluid tm-person-img" />
            <figcaption class="tm-person-description">
              <h4 class="tm-person-name">Daisy Walker</h4>
              <p class="tm-person-title">Executive Chef</p>
              <p class="tm-person-about">Praesent non vulputate elit. Orci varius
                natoque et magnis dis parturient, nascetur ridiculus mus.</p>
              <div>
                <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
              </div>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-6">
          <figure class="tm-person">
            <img src="assets/img/about-03.jpg" alt="Image" class="img-fluid tm-person-img" />
            <figcaption class="tm-person-description">
              <h4 class="tm-person-name">Florence Nelson</h4>
              <p class="tm-person-title">Kitchen Manager</p>
              <p class="tm-person-about">Aenean sapien sem, ultricies sed vulputate
                et, auctor vel mauris. Integer sit amet diam eget est facilisis lacinia vitae.</p>
              <div>
                <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
              </div>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-6">
          <figure class="tm-person">
            <img src="assets/img/about-04.jpg" alt="Image" class="img-fluid tm-person-img" />
            <figcaption class="tm-person-description">
              <h4 class="tm-person-name">Valentina Martin</h4>
              <p class="tm-person-title">Culinary Director</p>
              <p class="tm-person-about">Praesent non vulputate elit. Orci varius
                natoque penatibus et magnis montes, nascetur ridiculus mus.</p>
              <div>
                <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
              </div>
            </figcaption>
          </figure>
        </article>
      </div>
    </div>
    <div class="tm-container-inner tm-featured-image">
      <div class="row">
        <div class="col-12">
          <div class="placeholder-2">
            <div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-container-inner tm-features">
      <div class="row">
        <div class="col-lg-4">
          <div class="tm-feature">
            <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
            <p class="tm-feature-description">Donec sed orci fermentum, convallis lacus id, tempus elit. Sed eu neque accumsan, porttitor arcu a, interdum est. Donec in risus eu ante.</p>
            <a href="index.html" class="tm-btn tm-btn-primary">Read More</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tm-feature">
            <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
            <p class="tm-feature-description">Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit. Nam sed suscipit odio. Morbi in dolor finibus, consequat nisl eget.</p>
            <a href="index.html" class="tm-btn tm-btn-success">Read More</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tm-feature">
            <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
            <p class="tm-feature-description">Morbi in dolor finibus, consequat nisl eget, pretium nunc. Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit.</p>
            <a href="index.html" class="tm-btn tm-btn-danger">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-container-inner tm-history">
      <div class="row">
        <div class="col-12">
          <div class="tm-history-inner">
            <img src="assets/img/about-06.jpg" alt="Image" class="img-fluid tm-history-img" />
            <div class="tm-history-text">
              <h4 class="tm-history-title">History of our restaurant</h4>
              <p class="tm-mb-p">Sed ligula risus, interdum aliquet imperdiet sit amet, auctor sit amet justo. Maecenas posuere lorem id augue interdum vehicula. Praesent sed leo eget libero ultricies congue.</p>
              <p>Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a href="https://templatemo.com/contact">contact TemplateMo</a> for additional permissions about our templates. Thank you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="tm-footer text-center">
    <p>Copyright &copy; 2020 Simple House

      | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
  </footer>
</div>
