<button mat-raised-button (click)="openDialog()">Pick one</button>
<div class="page-content">
  <div class="res-container">
    <div class="res-images">
      <ngx-slick-carousel class="slider-for"
                          [config]="slideConfigTop"
                          (init)="slickInit($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="55%">
        </div>
      </ngx-slick-carousel>
      <ngx-slick-carousel class="slider-nav"
                          [config]="slideConfigBottom"
                          (init)="slickInit($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="95px">
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="res-info">
      <div class="res-breadcrumb">Home >> HN >> {{resraurant.resName}}</div>
      <div class="res-name">{{resraurant.resName}}</div>
      <div class="res-address">{{resraurant.resAddress}}</div>
      <button class="btn btn-book">Call to order <span class="text-bold">{{resraurant.tel}}</span> </button>
      <div class="res-business-hours">
        <span class="icon-time-gray"></span>
        <span style="color: rgb(12, 173, 36);">Mở cửa</span>
        08:30 - 22:00
      </div>
      <div class="res-price">
        <span class="fas fa-dollar-sign"></span>
        Giá trung bình: {{resraurant.article.priceRange}} vnđ
      </div>
      <div class="btn-like"></div>
      <div class="res-rating"></div>
    </div>
  </div>
  <div class="res-promotion">
    <div class="pro-header">
      <h3 class="pro-title">ƯU ĐÃI KHI ĐẶT BÀN</h3>
    </div>
    <div class="pro-body">
      <div class="row-pro-booking">
        <div class="pro-booking">
          <div class="pro-booking-title">Giảm 30%</div>
        </div>
        <div class="pro-detail-booking">
          <div class="pro-detail-header">
            <span style="color: rgb(61, 154, 232);">Cả ngày</span>
            <span> - Giảm 30% tổng hóa đơn khi đặt chỗ qua TableNow</span>
          </div>
          <div class="pro-detail-body">
            Giảm 30% tổng hóa đơn khi đặt chỗ qua TableNow
          </div>
          <div class="pro-note">
            Ưu đãi không áp dụng vào ngày đang chọn.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="res-detail">
    <div class="res-detail-header">
      <nav class="nav-header">
        <ul class="nav-list">
          <li class="nav-item active">Giới thiệu</li>
          <li class="nav-item ">Bản đồ và tiện ích</li>
        </ul>
      </nav>
    </div>
    <div class="res-detail-block">
      <div class="block-title">giới thiệu</div>
      <div class="block-content">
        <p style="text-align:justify"><span style="font-size:14px">{{resraurant.article.articleContent}}</span></p>

<!--        <p style="text-align:justify"><span style="font-size:14px">Thêm điểm đặc sắc, khác biệt của ẩm thực-->
<!--                            Lobster Roll là "Seafood Bag" - Túi Hải Sản kết hợp cùng sốt Cajun Lousiana với hơn 15 loại-->
<!--                            gia vị nồng nàn, đậm đà. Thực khách có thể thoả thích lựa chọn loại hải sản theo sở thích và-->
<!--                            phối hợp thành 1 Túi hải sản hấp dẫn, chế biến cùng 2 phiên bản sốt Cajun Juicy hoặc sốt-->
<!--                            Cajun Truyền Thống Mỹ. Thực khách nhận trên tay “Túi Hải Sản” nóng hổi thấm đẫm sốt Cajun-->
<!--                            đậm đà, chỉ cần lắc lên, cuộn túi lại dồn phần hải sản lên trên và thưởng thức bằng tay theo-->
<!--                            phong cách Mỹ phóng khoáng. </span></p>-->

<!--        <p style="text-align:justify"><span style="font-size:14px">Với thực đơn thức ăn nhanh cùng quy cách-->
<!--                            đóng gói tiện lợi, đầy đủ các loại nước chấm kèm theo, Thực Khách có thể thưởng thức món ăn-->
<!--                            của Lobster Roll trong mọi không gian và thời gian. Quý Thực Khách có thể gọi món và say-->
<!--                            mình trong không gian ẩm thực tự phục vụ phong cách Mỹ tại nhà hàng Lobster Roll - 59 Trương-->
<!--                            Công Định, P.14, Q.Tân Bình&nbsp;</span></p>-->
      </div>
    </div>
    <div class="res-detail-block">
      <div class="block-title">bản đồ và tiện ích</div>
      <div class="block-content">
      </div>
    </div>
  </div>
  <div class="res-recently-viewed">
    <div class="res-detail-header">
      <nav class="nav-header">
        <ul class="nav-list">
          <li class="nav-item active">Nhà hàng đã xem</li>
          <li class="nav-item ">Nhà hàng nổi bật</li>
        </ul>
      </nav>
    </div>
    <div class="recently-viewed-slider">
      <div class="res-card"></div>
    </div>
  </div>
</div>
