
  <!-- Top box -->
  <!-- Logo & Site Name -->
  <div class="placeholder">
    <div class="parallax-window">
      <div class="tm-menu">
        <div class="row tm-header-inner">
          <div class="col-md-6 col-12">
            <img src="../../../../../assets/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />

            <div class="tm-site-text-box">
              <h1 class="tm-site-title">TaBo</h1>
              <h6 class="tm-site-description">Online Booking Table</h6>
            </div>
            <div class="tm-"></div>
          </div>
        </div>
        <div class="tm-banner-text">
          <div class="banner-text">
            <h1>Find restaurants</h1>
          </div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Find restaurants, reservations, promotions ..." aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let res of filteredRestaurants | async" [value]="res.resName">
<!--                  <img class="example-option-img" aria-hidden [src]="res.flag" height="25">-->
                  <span>{{res.resName}}</span> |
                  <small>Population: {{res.resAddress}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
<!--          <div class="banner-input">-->
<!--            <input type="text" placeholder="Tìm nhà hàng, đặt chỗ, khuyến mãi...">-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <main>
    <header class="row tm-welcome-section" style="margin: 60px auto">

      <h2 class="col-12 text-center tm-section-title">Welcome to TaBo</h2>
      <p class="col-12 text-center">This is an online booking table website, you can easily book a table and receive many attractive promotions</p>
    </header>

    <div class="tm-paging-links">
      <nav>
        <ul>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
        </ul>
      </nav>
    </div>

    <!-- Gallery -->
    <div class="row tm-gallery">
      <!-- gallery page -->
      <div class="tm-gallery-page">
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"
                 *ngFor="let res of restaurants" [routerLink]="['restaurant', res._id]">
          <figure>
            <img src="../../../../../assets/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">{{res.resName}}</h4>
              <p class="tm-gallery-description">{{res.resAddress}}</p>
              <p class="tm-gallery-price">{{res.article.priceRange}}</p>
            </figcaption>
          </figure>
        </article>
      </div> <!-- gallery page 1 -->
    </div>
    <div class="tm-section tm-container-inner">
      <div class="row">
        <div class="col-md-6">
          <figure class="tm-description-figure">
            <img src="../../../../../assets/img/img-01.jpg" alt="Image" class="img-fluid" />
          </figure>
        </div>
        <div class="col-md-6">
          <div class="tm-description-box">
            <h4 class="tm-gallery-title">Maecenas nulla neque</h4>
            <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
            <a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </main>
