.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
* {
  cursor: pointer;
}
.navbar-brand, .nav-link {
  color: black !important;
}
.nav-link:hover {
  background-color: #0288D1;
}
