<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: white">
  <a class="navbar-brand" href="#">TaBo <i class="fa fa-university"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/'> Booking table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/manage-restaurant'> Manage restaurant</a>
      </li>
    </ul>

    <ng-template [ngIf]="isLogin()" [ngIfElse]="notLogin">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">Hello, {{username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()"><i class="fa fa-sign-out"></i>Log out</a>
        </li>
      </ul>
    </ng-template>

    <ng-template #notLogin>
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link">Sign in</a>
      </li>
        <li class="nav-item">
          <a class="nav-link">Sign up</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
