<!--<div class='sidenav'>-->
<!--  <span (click)='newDoc()'>New Document</span>-->
<!--  <span [class.selected]='docId === currentDoc' (click)='loadDoc(docId)' *ngFor='let docId of documents | async'>{{ docId }}</span>-->
<!--</div>-->


<div class="my-container" style="margin-top: 100px">
  <div class="row">
    <div class="my-panel panel-primary" style="border: 1px solid #3F51B5;">
      <div class="my-panel-heading">
        <div style="padding-left: 25px; padding-top: 8px"><h5><span class="fa fa-comment"></span> Chat</h5></div>
      </div>
      <div class="panel-body">
        <ul class="chat">
          <li class="left clearfix" *ngFor="let m of messages | async"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar"
                                 class="img-circle">
                        </span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">{{m.sender}}</strong> <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
              </div>
              <p>
                {{m.message}}
              </p>
            </div>
          </li>
<!--          <li class="right clearfix"><span class="chat-img pull-right">-->
<!--                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar"-->
<!--                                 class="img-circle">-->
<!--                        </span>-->
<!--            <div class="chat-body clearfix">-->
<!--              <div class="header">-->
<!--                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>-->
<!--                <strong class="pull-right primary-font">Bhaumik Patel</strong>-->
<!--              </div>-->
<!--              <p>-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
<!--                dolor, quis ullamcorper ligula sodales.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
      </div>
      <div class="panel-footer">
        <form class="input-group" [formGroup]="chatForm">
          <input id="btn-input" formControlName="message" type="text" class="form-control input-sm" placeholder="Type your message here...">
          <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat" (click)="newMessage()">Send</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

