<mat-card class="example-card">
  <mat-card-header>
    <h3>Modify your article</h3>
  </mat-card-header>
  <mat-card-content>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <h5>Current images</h5>
    <div class="article-image">
      <a (click)="removeImage(img)" *ngFor="let img of imageArr">
        <img [src]="'http://localhost/' + img" alt="">
      </a>
    </div>
    <div style="color: red">
      *Click an image to remove <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
    <form class="form-container"
          novalidate
          [formGroup]="submitForm">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let cat of cats | async" [value]="cat._id">
            {{cat.categoryName}}
          </mat-option>
          <mat-error *ngIf="displayMessage.category">
            {{displayMessage.category}}
          </mat-error>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="articleContent"></textarea>
        <mat-error *ngIf="displayMessage.articleContent">
          {{displayMessage.articleContent}}
        </mat-error>
      </mat-form-field>
      <div class="form-group" style="margin-top: 65px;">
        <input type="file" (change)="listenFileUploading($event)"
               accept="image/bmp,image/png,image/jpeg" multiple>
      </div>
      <button
        mat-raised-button color="primary"
        type="submit"
        (click)="saveArticle()"
        [matTooltip]="submitForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Upload Article
      </button>
    </form>
  </mat-card-content>
</mat-card>
