.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.article-image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  img {
    width: 100%;
    height: auto;
  }
  a {
    cursor: pointer;
    &:hover {
      width:150px;
      height:150px;
    }
  }
}

