<title>Login</title>
<div class="page">
  <mat-card class="content">
    <div class="left-content">
      <img src="assets/images/login.jpg" alt="">
    </div>
    <form class="right-content"
          novalidate
          [formGroup]="loginForm"
          (ngSubmit)="login()">
      <span class="form-header">ĐĂNG NHẬP</span>
      <mat-form-field>
        <input matInput
               type="text"
               placeholder="Email"
               formControlName="email">
        <mat-error *ngIf="displayMessage.email">
          {{displayMessage.email}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-password">
        <input matInput
               placeholder="Mật khẩu"
               type="password"
               formControlName="password">
        <mat-error *ngIf="displayMessage.password">
          {{displayMessage.password}}
        </mat-error>
      </mat-form-field>
      <a href="#" class="forgot-password">Quên mật khẩu</a>
      <!--      <mat-form-field>-->
      <div class="remember-me">
        <mat-checkbox>Duy trì đăng nhập</mat-checkbox>
      </div>
      <button mat-flat-button
              class="login-button"
              [title]="loginForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!loginForm.valid">
        Đăng nhập
      </button>
      <div class="social-button">
        <button mat-flat-button color="primary">
          <i class="fab fa-facebook-square facebook"></i>
          Facebook</button>
        <button mat-flat-button color="warn" style="position: relative">
          <i class="fab fa-google google"></i>
          Google</button>
      </div>
      <span class="register-button">Chưa có tài khoản? <a [routerLink]="['/register']" class="register">Đăng ký ngay</a></span>
      <!--      </mat-form-field>-->
    </form>
  </mat-card>
</div>


