<h1 mat-dialog-title>Alert</h1>
<div mat-dialog-content>
  {{alert.code}} {{alert.message}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
