///* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #464646;
  text-align: left;
  background-color: #f2f2f2;
  .page-content {
    width: 1178px;
    margin: 0 auto;
  }
}



//body {
//  font-family: Roboto, Arial, sans-serif;
//  margin: 0;
//}
//.basic-container {
//  padding: 30px;
//}
//.version-info {
//  font-size: 8pt;
//  float: right;
//}


/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
